.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lContainer {
    /* border: 1px solid black; */
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 9px 9px 13px #7a7a7a,
        -9px -9px 13px #ffffff;
}

.l-input-group {
    position: relative;
}

.l-input {
    width: 100%;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.l-user-label {
    position: absolute;
    left: 15px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.l-input:focus,
input:valid {
    outline: none;
    /* border: 1.5px solid #1a73e8; */
}

.searchBtn {
    background-color: #006ce4;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.l-input:focus~label,
input:valid~label {
    transform: translateY(-90%) scale(0.8);
    background-color: transparent;
    padding: 0 .2em;
    color: #2196f3;
}